.chat-page {
    .chat-container {
        display: flex;
        flex-flow: column nowrap;

        .chat-message {
            background-color: #1eb2a6;
            color: white;
            border-radius: 5px;
            padding-top: 1px;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 1vh;

            a {
                font-size: .6rem;
                color: white;
            }

            p {
                margin-bottom: 0;
            }
        }

        .chat-message-right {
            text-align: right;
            align-self: flex-end;

            a {
                display: none;
            }
        }

        .chat-message-left {
            align-self: flex-start;
        }

        .chat-form {
            margin-top: auto;
        }
    }
}
