@import 'variables';

$message-hight-padding: 5px;
$message-with-padding: $message-hight-padding * 2;

.chat-page {
    .chat-container {
        display: flex;
        flex-flow: column nowrap;

        .chat-message {
            position: relative;
            color: white;
            border-radius: 5px;
            padding-top: $message-hight-padding;
            padding-left: $message-with-padding;
            padding-right: $message-with-padding;
            padding-bottom: $message-hight-padding;
            margin-bottom: 1.3vh;

            a {
                font-size: .8rem;
                color: white;
            }

            p {
                margin-bottom: 0;
            }
        }

        .chat-message:after {
            content: '';
	        position: absolute;
	        bottom: 0;
	        width: 0;
	        height: 0;
	        border: 9px solid transparent;
	        border-bottom: 0;
	        margin-left: -4.5px;
	        margin-bottom: -9px;
        }


        .chat-message-right:after {
	        right: 5px;
	        border-top-color: lighten($green, 2%);
	        border-right: 0;
        }

        .chat-message-left:after {
	        left: 10px;
	        border-top-color: lighten($blue, 2%);
	        border-left: 0;
        }

        .chat-message-right {
            background-color: lighten($green, 2%);
            text-align: right;
            align-self: flex-end;

            a {
                display: none;
            }
        }

        .chat-message-left {
            background-color: lighten($blue, 2%);
            align-self: flex-start;
        }

        .chat-form {
            margin-top: auto;
        }
    }
}
