.chat-container {
    display: block;
}

.chat-message {
    background-color: #1eb2a6;
    color: white;
    border-radius: 5px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1vh;

    a {
        font-size: .6rem;
        color: white;
    }

    p {
        margin-bottom: 0;
    }
}

.chat-message-right {
    text-align: right;

    a {
        display: none;
    }
}

.chat-form {
    margin-left: 15px;
}

